*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  align-items: center;
}

.calc{
  padding: 20px;
  background: rgb(51, 51, 51);
  border-radius: 20px;
  border: none;
  box-shadow: -1px -1px 10px 10px white;
}

#input{
  height:100px;
  background-color:black;
  border-radius: 20px;
  color: greenyellow;
  font-size: 4rem;
  text-align: right;
  margin:10px;
  justify-content: center;
  margin-bottom: 10px;
  max-width: 400px;
  overflow: hidden;
}

button{
  border: none;
  margin: 10px;
  width: 80px;
  height: 80px;
  background-color: black;
  font-size: 20px;
  color: orange;
  border-radius: 50%;
  cursor: pointer;
  font-size: 25px;
  font-weight: 500;
}

.dgn{
  background-color: beige;
  color: black;
  font-weight: 800;
}


span {
content: "\00A9";
color: rgb(236, 150, 70);
align-items: center;
justify-content: center;
font-size: 1rem;
}